---
layout: default
---
<div class="post-container">
    <span class="posts">Posts</span>
    <a class="tag" href="{{ site.url }}/tags/">Tags in Blog</a>
    <span class="date">Date</span>
	{% for post in paginator.posts %}
        <div class="post-list">
            <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            {% if site.disqus-identifier %}
            <a class="post-comment" href="{{ site.url }}{{ post.url }}#disqus_thread">0 Comments</a> <!-- '0 Comments' will be overwritten by Disqus if there are comments  -->
            {% endif %}
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%m.%d.%Y" }}</time>
        </div>
    {% endfor %}
</div>
{% include pagination.html %}

{% if site.disqus-identifier %}
<script id="dsq-count-scr" src="//{{ site.disqus-identifier }}.disqus.com/count.js" async></script>
{% endif %}
